#appicon {
  display: none; }

.page-footer.main-footer {
  padding-left: 0 !important; }

#appicon {
  line-height: 64px;
  width: 70px;
  margin-left: 10px; }

.nav-menu {
  display: none;
  position: relative;
  float: left;
  margin: 0 20px 0 10px; }

.nav-collapsed .brand-sidebar .logo-wrapper a.brand-logo img {
  height: 15px; }

.nav-drop-icon {
  list-style: none;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px; }

.sidenav li .collapsible-body ul li a span {
  margin-left: 44px; }

@media only screen and (max-width: 992px) {
  .nav-menu {
    display: inline-block; } }

.form-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: -webkit-calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
  height: calc(100vh - 80px); }
  .form-section .card-panel.border-radius-6.login-card {
    margin-left: 0 !important; }
