@import "../theme-components/_color";

#appicon {
  line-height: 64px;
  width: 110px;
  margin-left: 40px;
}

strong {
    font-weight: 600!important;
}

.btn {
  background-color: #00aeef;   
  border-radius: 26px;    
  text-transform: none!important;
}

.btn-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.footer {
    margin-bottom: 0px!important;
}

.privacy {
    padding: 0px 50px;
}
.terms {
    padding: 0px 50px;
}
.versionnumber {
    padding: 0px 50px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.nav-menu {
  display: none;
  position: relative;
  float: left;
  margin: 0 20px 0 10px;
}

.nav-collapsed {
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: 15px
  }
}

.nav-drop-icon {
  list-style: none;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px;
}

#nav-avatar {
  .avatar {
    //if no image
    div {
      margin-top: 8px;
      margin-bottom: 8px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      background: #ccc !important;
      border-radius: 50%;
    }

    //for image
    .avatar-frame {
      margin-top: 8px;
      margin-bottom: 8px;
      display: block;
      background-size: 48px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      border-radius: 50%;
    }
  }
}

.sidenav li .collapsible-body {
  ul {
    li a span {
      margin-left: 44px;
    }
  }
}

.sidenav li a.active {
  background: linear-gradient(90deg, #12b4f0 0%, #ffffff00 100%);
  box-shadow: none;

  &.material-icons-outlined {
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.sidenav {
  li a {
    .sidenav-icon {
      width: 26px;
      vertical-align: middle;
      margin-right: 10px;
      &:nth-of-type(2) {
        display: none;
      }
    }
    &.active {
      .sidenav-icon {
        &:nth-of-type(1) {
          display: none;
        }
        &:nth-of-type(2) {
          display: initial;
        }
      }
    }
  }
}

.nav-links-small {
  display: none;

  a.active {
    color: #fff !important;
  }
}

.modal-content {
  padding-bottom: 80px !important;
  .modal-title {
    font-size: 18px;
    background-color: #dcdcdc;
    padding: 10px 30px;
    margin-left: -24px;
    width: 50%;
    border-radius: 0px 30px 30px 0px;
  }
}

#toast-container {
  top: auto !important;
  right: 3% !important;
  bottom: 3%;
}

table.dataTable tbody tr[role] {
  cursor: pointer;
}

.navbar .navbar-light ul a.active {
  background: #fff;
  color: color('blue', 'base');
}

#card-stats .card-stats-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-card {
  .card-image {
    .card-title {
      color: #fff;
      text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, .7);
      padding: 0 1rem;
      h6 {
        font-size: 1rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}

#main .section-data-tables.table-filter {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    display: block;

    label input {
      width: auto;
      height: auto;
    }

    label select {
      display: inline-block;
      width: auto;
      height: auto;
    }
  }
}

//banners
.main-banner {
  display: inline;
  top: 64px;
  left: 0;
  width: 100%;
  height: auto;
  box-shadow: none;

  img {
    padding: 0;
    margin: 0;
    min-height: 400px;
  }

  .banner-title {
    position: absolute;
    top: 130px;
    margin-left: 50px;
    font-size: 20px;
    width: 30%;
  }

  .banner-title2 {
    position: absolute;
    top: 160px;
    margin-left: 50px;
    font-size: 25px;
    width: 30%;
    color: black !important;
    line-height: 1.4;
  }

  .banner-title3 {
    position: absolute;
    top: 100px;
    margin-left: 50px;
    font-size: 12px;
    width: 30%;
    color: black !important;
  }
    
  .banner-title4 {
    position: absolute;
    top: 170px;
    margin-left: 50px;
    font-size: 25px;
    width: 50%;
    line-height: 1.3;
  }
}

//breadcrumbs
.breadcrumb {
    font-size: 12px;
    color: rgb(10, 10, 10);
}

.breadcrumb .active {
    color: #00aeef!important;
}

.breadcrumb:last-child {
    color: #000;
}

.breadcrumb:before {
    content: '\E5CC';
    color: #03a9f4;
    vertical-align: top;
    display: inline;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.breadcrumb-new-sub{
    color: black!important;
    
}

.navbar-list > li {
    float: right;  
}

.btn-manage-permissions {
    border-radius: 25px;
    width: 200px;
    text-align: center;
    color: #00aeef;
    line-height: 40px;
    margin: 0px;
    margin-top: -10px;
    border: 1px solid #00aeef;
}

.material-icons-outlined {
  background: linear-gradient(to bottom, #ec008c 0%, #00aeef 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

th {
  border-right: 1px solid #cfd8dc!important; 
}

#user-table_length {
  float: left; 
}

#card-stats {
    padding-top: 0px;
}

textarea {
    border-radius: 5px!important;
    border: 1px solid #c1c1c1!important;
    height: 8rem!important;
}

.balancesummary {
    max-height: 250px;      
}
.requestleave {
    max-height: 250px;      
}

.fc .fc-button {
    background: #2196f3!important;
}

.fc-toolbar .fc-left > h2 {
    font-size: 31px;
}

.leavetabs .tabs > li {
    padding: 0px;
}

.leavetabs .tabs > li > a {
    padding: 0px;
    text-overflow: initial!important;
}

.leavetabs .tabs > li > a.active {
    background-color: #7986cb!important;
    color: white!important;
}

.requesthistory {
    margin-left: 1px!important;
}


@media only screen and (min-width: 1800px) {
#user-table {
    min-height: 460px;    
}   
}

@media only screen and (max-width: 1800px) {
#user-table {
    min-height: 450px;    
}   
}

@media only screen and (min-width: 1700px) {
#user-table .card .card-image  {
    max-height: 200px;
    position: relative;
    overflow: hidden;   
}      
}

@media only screen and (min-width: 1500px) {
#user-table .card .card-image  {
    max-height: 170px;
    position: relative;
    overflow: hidden;   
}  
}

@media only screen and (max-width: 1500px) {
#user-table .card .card-image  {
    max-height: 140px;
    position: relative;
    overflow: hidden;   
}  
.profile-card .card-image .card-title h6 {
    font-size: 0.8rem;
}
.profile-card .card-image .card-title p {
    font-size: 0.8rem;
}
.card-action > a {
    font-size: 12px;   
}
}

@media only screen and (max-width: 1280px) {
.main-banner-img {
    padding: 0;
    margin: 0;
    min-height: 300px;
}
.footer-copyright {
    padding-left: 10px!important;
}
#user-table {
    max-height: 290px;    
}
#user-table {
    min-height: 400px;    
} 
}

@media only screen and (max-width: 1200px) {
.balancesummary {
    max-height: 370px;      
}
.requestleave {
    max-height: 370px;      
}
#page-length-option_filter {
    margin-right: 30px;
}
}

@media only screen and (max-width: 1025px) {
.main-banner-img {
    padding: 0!important;
    margin: 0!important;
}
.footer-copyright {
    padding-left: 0px!important;
}
nav ul a {
    padding: 0 15px !important;
    font-size: 12px!important;
}
#nav-avatar:after {
   display: none;
}
.selectaplan > p {
    top: 5px!important;
    right: 70px!important;
    width: 100px!important;
    line-height: 40px!important;
}
.daysleft {
    right: 190px!important;     
}
.scheduleicon {
    right: 278px!important;
}
.searchicon {
    right: 310px!important;
}
}

@media only screen and (max-width: 992px) {
.nav-menu {
    display: inline-block;
  }
.navbar-list {
  padding-left: 200px!important;       
}
#appicon {
    display: inline-block!important;
    margin-left: 30px;
}
.app-logo {
    display: none;
}
.sidenav-main .brand-sidebar .brand-logo {
    padding: 16px 12px 20px 12px!important;
    padding-left: 75px!important;
    padding-top: 10px!important;
    padding-right: 0px!important;
}
}

@media only screen and (max-width: 768px) {
#nav-avatar:after {
    display: none;
}   
nav ul a {
    padding: 0 15px 0px 0px !important;
    font-size: 12px !important;
}
.landing-page-nav-links li a {
    padding: 0 20px!important;
}
.homedesc .content .container {
    top: 100px!important;
    padding-left: 50px!important;
}
.signinbutton > a {
    height: 40px!important;
    top: 10px!important;
    line-height: 0px!important;
    padding: 20px!important;    
}
}

@media only screen and (max-width: 601px) {
  #nav-avatar {
    .avatar {
      div, .avatar-frame {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
  .nav-links {
    display: none;
  }
  .nav-links-small {
    display: initial;
  }
.balancesummary {
    max-height: none;      
}
.requestleave {
    max-height: none;      
}
}

@media (max-width: 992px) {
  .sidenav-main {
    z-index: 999;
  }
  #appicon {
    display: none;
  }
  .sidenav-main .brand-sidebar .brand-logo {
    padding: 16px 12px 20px 12px;
    padding-left: 65px;
    padding-top: 8px;
    padding-right: 0px;
  }
  .brand-sidebar .logo-wrapper a.brand-logo img {
    height: 40px;
    width: auto;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }
  .btn-floating {
    background-color: #fff;
  }
  .btn-floating:hover {
    background-color: #fff;
  }
}

@media (max-width: 800px) {
.main-banner-img {
    padding: 0;
    margin: 0;
    min-height: 250px;
}  
title4 {
    position: absolute;
    top: 160px;
    margin-left: 50px;
    font-size: 21px;
    width: 50%;
    line-height: 1.3;
}
}

@media only screen and (max-width: 480px) {
.leave-calculation {
    padding: 15px 0px!important;     
}
.annual-cycle {
    padding: 15px 0px!important;     
}
.company-setting {
    padding: 15px 0px!important;     
}
#basic-calendar .fc-left {
    display: contents!important;
}
#basic-calendar .fc-today-button {
    right: 20px!important;
    left: auto!important;
}
.leavetabs .tabs .tab > a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0px 10px;
    white-space: normal;
}
.org-chart-dropdownlist  ul  li .collapsible-body {
    padding: 15px 10px!important;
    padding-bottom: 0px!important;
}
.org-chart-dropdownlist  ul  li .org-chart-employee {
    height: 150px!important;   
}
.org-chart-dropdownlist .contact-icons {
    display: flex;
    position: relative;
    top: 80px;
    left: 30px;      
}
.btn-manage-permissions {
    border-radius: 25px;
    width: 140px;
    text-align: center;
    color: #00aeef;
    line-height: 40px;
    margin: 0px;
    margin-top: -10px;
    border: 1px solid #00aeef;
    padding: 0px 10px;
    font-size: 12px;
}
td {
  white-space: nowrap!important;
}
#main .section-data-tables table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: block;
    white-space: nowrap!important;
}
#basic-calendar .fc-right {
    float: left;
    margin-top: 10px;    
}
#page-length-option_filter {
    position: initial!important;    
}
.main-banner {
    box-shadow: none!important;
}
.main-banner-image-desktop {
    display: none;    
}
.main-banner-image-mobile {
    display: block!important;    
}
.landing-page-nav-links li a {
    padding: 0 8px !important;
    font-size: 10px!important;
}
.navbar-list {
    padding-left: 0px !important;
}
.homedesc .content .container {
    font-size: 0.6em;
    top: 60px!important;
    padding-left: 20px!important;
    margin-top: 0px!important;
}
.homedesc .content .container .btn-small {
    margin-top: 5px !important;
    font-size: 0.7rem !important;
    height: 25px;
    line-height: 25px;
}
.homedesc .content .container .pink-text {
    font-size: 1.2rem!important;
}
.homedesc .content .container .black-text {
    font-size: 0.6rem !important;
    margin-top: 0px!important;
}
.dictionary-card #page-length-option_filter {
    left: 40px!important;
    top: 155px!important;
    position: initial!important;
    background-color: white!important;
    margin-left: 0px;      
}
.profile-card .card-image .card-title {
    padding: 1rem;
}
.card-title > h6 {
    margin: 10px 0px!important;
}
//td {
//    white-space: nowrap;
//    border-right: 1px solid #cfd8dc !important;
//}
.card {
    margin-top: 30px;
}
.signinbutton > a {
    position: relative !important;
    line-height: 20px !important;
    right: 15px !important;
    text-align: center !important;
    padding: 5px 20px !important;
    font-size: 1rem !important;
    height: 30px !important;
    top: 20px !important;
}

.breadcrumb {
    font-size: 11px;
    color: rgb(10, 10, 10);
}
.breadcrumb:before {
    font-size: 12px!important;
    margin: 0px!important;
}
  .main-banner .banner-title3 {
    position: absolute;
    top: 70px;
    margin-left: 12px;
    font-size: 11px;
    width: 30%;
    color: black !important;
  }
  .main-banner .banner-title {
    position: absolute;
    top: 100px;
    margin-left: 20px;
    font-size: 14px;
    width: 50%;
  }
  .main-banner .banner-title2 {
    position: absolute;
    top: 130px;
    margin-left: 20px;
    font-size: 16px;
    width: 90%;
    color: black !important;
  }
  .main-banner {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 3px rgba(0, 0, 0, 0.12), 0px 2px rgba(0, 0, 0, 0.24);
  }
  .main-banner-img {
    background-color: #fff;
    padding: 0;
    margin: 0;
    min-height: 140px;
    width: 500px;
    margin-left: 50px;
  }
  .hr-content {
    margin: 10px 0px!important;
  }
.main-banner .banner-title4 {
    position: absolute;
    top: 125px;
    margin-left: 20px;
    font-size: 14px;
    width: 100%;
    line-height: 1.3;
}
.signinlogo > img {
    width: 180px!important;
    padding-left: 10px;
}
.privacy {
    padding: 0px 30px;      
}
.terms {
    padding: 0px 30px;     
}
.versionnumber {
    padding: 0px 30px;     
}
.signinlogo > h5 {
    font-size: 21px!important;    
}
#signup-page {
    margin: 70px 0px!important;      
}
.createbtn {
    width: 100%!important;
    left: 0%!important;
}

.loginwords {
    bottom: 20px!important;
    font-size: 14px!important;
}
.main-banner-img {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 120px !important;
    opacity: 0.5!important;
}
.selectaplan > p {
    display: inline;
    background-color: #00aeef;
    color: white !important;
    margin-bottom: 10px;
    position: absolute;
    display: inline;
    color: #00aeef;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 110px;
    margin-top: 5px!important;
    margin-bottom: 8px;
    width: 130px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}
.brand-sidebar .logo-wrapper a.brand-logo img {
    height: auto;
    width: 90px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.sidenav-main .brand-sidebar .brand-logo {
    padding-left: 40px !important;
}
.daysleft {
    display: none!important;
}
.searchicon {
    right: 210px !important;
}
.scheduleicon {
    right: 178px !important;
}
.main-banner .banner-title {
    position: absolute!important;
    top: 90px!important;
    margin-left: 12px!important;
    font-size: 14px!important;
    width: 100%!important;
}
.main-banner .banner-title4 {
    position: absolute!important;
    top: 110px!important;
    margin-left: 12px!important;
    font-size: 14px!important;
    width: 40%!important;
    line-height: 1.3!important;
}
.section-data-tables {
    margin: 20px!important;
}
.dropdown-content li {
    padding-left: 20px;
}
#user-table_filter {
    margin-left: 0px!important;
    position: relative!important;
    left: 0px!important;
    top: 0px!important;
    text-align: left!important;
    height: auto!important;
    margin-left: 0px!important;
}
#page-length-option_filter {
    margin-left: 5px!important;
    margin-right: 10px;
}
#basic-calendar table {
    width: 100%!important;
    overflow-y: auto!important;
    overflow-x: auto!important;
    display: inline-table!important;    
}
}

@media only screen and (max-width: 380px) {
.card-content .waves-effect {
    margin-bottom: 10px;
    height: auto;
    line-height: 26px; 
    font-size: 12px;
}
.footer-privacy {
  display: contents;      
} 
.terms-privacy > p {
  padding: 0px 10px;     
}
.footer-privacy .container {
  padding-top: 20px;
  margin-top: 20px;     
}
.page-footer {
   display: contents;     
}
#appicon {
    margin-left: 10px;
}
#signup-page > div:first-child {
   height: 115%!important;     
}
.loginwords {
    bottom: -10px!important;
}
#nav-avatar .avatar div {
    width: 35px!important;
    height: 35px!important;
    line-height: 35px!important;
    text-align: center;
    background: #ccc !important;
    border-radius: 50%!important;
    top: 10px!important;
    margin-top: 12px!important;
}
.selectaplan > p {
    top: 10px !important;
    right: 70px !important;
    width: 80px !important;
    line-height: 30px !important;
    height: 30px !important;
    font-size: 10px;
}
.scheduleicon {
    right: 158px !important;
}
.searchicon {
    right: 185px !important;
}
.main-banner .banner-title3 {
    top: 70px!important;
}
.main-banner .banner-title {
    top: 150px!important;
    margin-left: 25px!important;
}
.main-banner .banner-title4 {
    top: 170px !important;
    margin-left: 25px!important;
}
#main .content {
    margin-top: 40px;     
} 
.privacy {
    padding: 0px 10px!important;      
}
.terms {
    padding: 0px 10px!important;     
}
.versionnumber {
    padding: 0px 10px!important;     
}
}

@media only screen and (max-width: 330px) {
.landing-page-nav-links li a {
    padding: 0 5px !important;
    font-size: 9px !important;
}
.card-content .waves-effect {
    margin-bottom: 10px;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
    position: absolute;
    top: 110px;
}
.card-content .waves-effect {
    left: 40px!important;
}
.collapsible-header {
    padding-left: 20px!important;   
}
.org-chart-dropdownlist .collapsible .collapsible-header:before {
    left: -10px!important;
}
}

.app-logo {
  float: left;
}

nav ul.left {
  margin-left: 20px;
}

nav ul a {
  padding: 0 35px;
}

.navbar-list > li:nth-child(2) {
  float: right;
}

nav ul a:hover {
  background-color: transparent;
  color: #2196F3 !important;
}

.upcoming-content {
  margin: 15px 0px;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #dcdcdc;
}

.upcoming-contents {
  margin: 15px 0px;
  padding-bottom: 10px !important;
}

.hr-content {
  margin: 40px 0px;
}

.sidenav-active-square .sidenav li > a.active .material-icons-outlined {
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nav-avatar:after {
    font-family: "Material Icons";
    content: "keyboard_arrow_down";
    color: #afafaf;
    font-size: 18px;
    position: absolute;
    right: 16px;
    transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out 0.1s, -webkit-transform 0.3s ease-in-out;
    top: 0px;
    right: 10px;
}

.newstitle {
    position: absolute;
    margin-bottom: 10px;
    padding-bottom: 10px;
    top: 20px;
    left: 60px;    
}

.directorytitle {
    position: absolute;
    margin-bottom: 10px;
    padding-bottom: 10px;
    top: 20px;
    left: 60px;    
}

select {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    height: 3rem;
    border: 1px solid #e2e2e2;
}

#page-length-option_filter {
    border: 1px solid #e2e2e2;
    padding: 3px 10px 0px;
    border-radius: 10px;
    float: left;
    margin-left: 15px;
    position: absolute;
    left: 120px;
    top: 0px;
}

#page-length-option_filter > label > input {
    border-bottom: none;    
}

#user-table_filter {
    border: 1px solid #e2e2e2;
    padding: 3px 10px 0px;
    border-radius: 10px;
    float: left;
    margin-left: 15px;
    position: absolute;
    left: 120px;
    top: 0px;    
}

#user-table_filter > label > input {
    border-bottom: none!important;    
}

table.dataTable.no-footer {
    border-bottom: none!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 1px solid #bbbbbb!important;
    border-radius: 10px;  
}

#main .section-data-tables .dataTables_wrapper .dataTables_paginate .paginate_button:hover, #main .section-data-tables .dataTables_wrapper #page-length-option_paginate .paginate_button:hover {
color: #fff !important;
border: 1px solid #00aeef !important;
border-radius: 6px;
background: #00aeef!important;
-webkit-box-shadow: none!important;
box-shadow: none !important;
cursor: pointer;
}

#main .section-data-tables .dataTables_wrapper table.dataTable thead th {
    font-weight: 600;
}

.section-data-tables {
    margin: 50px;
}

#page-length-option {
    width: 100%;
}

#main .section-data-tables .dataTables_wrapper .dataTables_paginate .paginate_button.current {
color: #fff !important;
border: 1px solid #00aeef !important;
border-radius: 6px;
background: #00aeef!important;
-webkit-box-shadow: none!important;
box-shadow: none !important;
}

.paginate_button {
    border: 1px solid #bbbbbb !important;
    border-radius: 10px!important;
}

table > thead > tr {
    background-color: #eff1f9;
}

table {
    padding: 20px 0px;
    width: 100%;
    table-layout: fixed;
}

td {
  white-space: normal;
}

.forgetpassword {
    position: absolute;
    bottom: 20px;
    float: right;
    right: 25px;
}

.loginbtn {
    width: 50%!important;
    left: 25%!important;
    background: #00aeef!important;
}

.createbtn {
    width: 30%;
    left: 35%;
    background: #00aeef!important;
}

.footer-light {
    background-color: #f9f9f9;
}

footer {
    padding-left: 0px;
    text-align: center;
}

.footer-privacy {
    text-align: center;
    padding-bottom: 20px;  
}

.signinlogo > img {
    width: 230px;
    padding-left: 19px;
}

.footer-copyright {
    padding-left: 20px!important;
}

.input-field.col label {
    padding-left: 10px!important;
}


#signup-page {
    margin: 100px 0px;      
}

.select-wrapper > input {
    padding-left: 10px!important;
    width: -webkit-fill-available!important; 
}

.getresetlink {
    width: 50%!important;
    left: 27%!important;
    background: #00aeef!important;   
}
.main-banner-img {
    min-height: 0px;
}

.main-banner .banner-title4 {
    position: absolute;
    top: 160px;
    margin-left: 50px;
    font-size: 21px;
    width: 40%;
    line-height: 1.3;
}

.main-banner .banner-title {
    position: absolute;
    top: 125px;
    margin-left: 50px;
    font-size: 20px;
    width: 30%;
}

.line {
    display: inline;
    border-right: 1px solid #c1c1c1;
    right: 65px;
    position: absolute;
    margin: 0px;
    height: 45px;
    margin: 10px 0px;  
}

.selectaplan > p {
        display: inline;
    background-color: #00aeef;
    color: white!important;
    margin-bottom: 10px;
    position: absolute;
    display: inline;
    color: #00aeef;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 110px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 130px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}

.daysleft {
    display: inline;
    color: #00aeef;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 265px;
}

.scheduleicon {
    display: inline;
    color: #00aeef;
    position: absolute;
    margin: 0px;
    right: 365px; 
}

.searchicon {
    display: inline;
    position: absolute;
    margin: 0px;
    right: 405px;
}


.toggle-options {
  a {
    background-color: #fff;
    i {
      color: color('grey', 'base');
    }
    &.active, &:hover {
      background-color: color('blue', 'base');
      i {
        color: #fff;
      }
    }
  }
}

tbody {
       border: 1px solid #cfd8dc!important; 
}

//td {
//    white-space: nowrap!important;
//    border-right: 1px solid #cfd8dc!important;
//}

tr {
    white-space: nowrap!important;
    border-right: 1px solid #cfd8dc!important;
}

#user-table > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.card .card-action {
    text-align: center;
    padding-left: 50px;
}

.profile-card {
    border-radius: 15px;
}

.card-title > h6 {
    margin: 0px;
}

.card-title > p {
    margin: 0px;
    margin-bottom: 5px;
}

.profile-card .card-title {
    padding-top: 10px!important;
    width: 100%;
}

.profile-card .card-image .card-title {
    text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 0.5);
}

.card-image > img {
    background-color: #e0e0e0;
}

th {
   border-bottom: none!important; 
}

.main-banner img {
    padding: 0;
    margin: 0;
    min-height: 0px!important;
    width: inherit;
}

.navbar .navbar-light ul a.active {
    background: transparent;
    color: #2196F3!important;
}

.footer {
    border-top: 1px solid #d2d2d2 !important;
    margin-bottom: 15px;
}
