{% extends "www/main.html" %}

{% block title %}Namlifa{% endblock %}

{% block nav %}
<!--<span class="landing-page-nav-links left">-->
<!--        <li><a class="left" href="/home" aria-current="page">Home</a></li>-->
<!--    <li><a class="left" href="/about" aria-current="page">About</a></li>-->
<!--    <li><a class="left" href="/faq" aria-current="page">FAQ</a></li>-->
<!--    <li><a class="left" href="/contact" aria-current="page">Contact Us</a></li>-->
<!--</span>-->
{% if user == 'Guest' %}
    <li class="signinbutton" aria-current="page">
        <a href="/signin">Login</a>
    </li>
{% endif %}
{% if user != 'Guest' %}
    {% include "www/nav.html" %}
{% endif %}
{% endblock %}