<span class="nav-links">
    {% if user == "Guest" %}
        <li><a class="left" href="/register" aria-current="page">Register</a></li>
        <li><a class="left" href="/signin" aria-current="page">Login</a></li>
    {% else %}
        <li><a class="left" href="/terms" aria-current="page">Terms</a></li>
    {% endif %}
</span>
{% if user != "Guest" %}
<li>
    <a id="nav-avatar" class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"></a>
    <ul class="dropdown-content" id="profile-dropdown" tabindex="0">
        <span class="nav-links-small">
            <li tabindex="0"><a href="#" class="grey-text text-darken-1" aria-current="page">My Profie</a></li>
        </span>
        <li class="divider" tabindex="0"></li>
        <li tabindex="0"><a href="/member" class="grey-text text-darken-1" style="line-height: 50px;"><i class="material-icons-outlined">account_box</i>My Profile</a>
        </li>
        <li class="divider" tabindex="0"></li>
        <li tabindex="0" class="">
            <a class="grey-text text-darken-1" href="#" onclick="erpx.logout()" style="line-height: 50px;">
                <i class="material-icons-outlined">exit_to_app</i> Sign out
            </a>
        </li>
    </ul>
</li>
{% endif %}