<footer class="page-footer black gradient-shadow">
    <div class="container">
        <div class="row">
            <div class="col m3 s12">
                <aside class="widget">
                    <h3 class="widget-title grey-text text-darken-5">Community</h3>
                    <div class="textwidget"><a class="foot-link-hov" href="http://namlifa.org.my/search-membership/">Search Membership</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/register/membership-form.php">Membership SignUp</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/financial-and-life-practitioners-council/">FLPC Courses</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/membership-area/">NAMLIFA Membership Area</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/admin-area/">NAMLIFA Admin Area</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/my-account/">Privilege Account / Login</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/cart/">Privilege Cart</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/privilege/">Privilege Store</a>
                        <br>
                    </div>
                </aside>
            </div>
            <div class="col m3 s12">
                <aside id="text-3" class="widget widget_text">
                    <h3 class="widget-title grey-text text-darken-5">Organization</h3>
                    <div class="textwidget"><a class="foot-link-hov" href="http://namlifa.org.my/vision-and-mission/">About NAMLIFA</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/national-council/">National Council</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/leadership-camp/">Leadership Camp</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/akard/">AKARD Convention</a>
                        <br>
                        <a class="foot-link-hov" href="http://namlifa.org.my/e-newspaper/">E-Newspaper</a>
                        <br>
                        <a class="foot-link-hov" href="#">Sitemap</a>
                        <br>
                    </div>
                </aside>
            </div>
            <div class="col m3 s12">
                <aside id="text-4" class="widget widget_text">
                    <h3 class="widget-title grey-text text-darken-5">Related Link</h3>
                    <div class="textwidget"><a class="foot-link-hov" href="http://www.liam.org.my/" target="_blank">LIAM</a>
                        <br>
                        <a class="foot-link-hov" href="http://www.insurance.com.my/" target="_blank">MII</a>
                        <br>
                        <a class="foot-link-hov" href="http://www.mfpc.org.my/" target="_blank">MFPC</a>
                        <br>
                        <a class="foot-link-hov" href="http://www.bnm.gov.my/" target="_blank">Bank Negara</a>
                        <br>
                        <a class="foot-link-hov" href="http://www.sc.com.my/" target="_blank">Securities Commission</a>
                        <br>
                        <a class="foot-link-hov" href="http://www.mdrt.org/" target="_blank">MDRT</a>
                        <br>
                        <a class="foot-link-hov" href="http://www.apfinsa.org/" target="_blank">APFinSA</a>
                        <br>
                    </div>
                </aside>
            </div>
            <div class="col m3 s12">
                <aside id="block-widget-5" class="widget widget-block">
                    <h3 class="widget-title grey-text text-darken-5">Contact Us</h3>
                    <div class="block">
                        <div class="porto-block ">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="m-b-none vc_column_container vc_col-sm-12">
                                    <div class="wpb_wrapper">
                                        <div style="font-size: 26px;color: #ffffff;text-align: left" class="vc_custom_heading m-t-n-sm"><strong>+603 - 9281 3167</strong></div>
                                        <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>

                                        <div class="wpb_text_column wpb_content_element  m-b-n">
                                            <div class="wpb_wrapper">
                                                <p>Fax 1 : +603-9281 1435
                                                    <br> Fax 2 : +603-9287 2855
                                                    <br>
                                                    <a href="mailto:info@namlifa.org.my">info@namlifa.org.my</a></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey-text text-darken-5">
        <div class="container center-align">
            © 2020 National Association of Malaysian Life Insurance and Family Takaful Advisors - All Rights Reserved.
        </div>
    </div>
</footer>